<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liu.coder.mapper.DeptMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.liu.coder.pojo.Dept">
        <result column="department_id" property="deptId"/>
        <result column="department_name" property="deptName"/>
        <result column="location_name" property="loc"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `department_id`,
        `department_name`,
        `location_name`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.deptId">
        INSERT INTO Departments (
            `department_id`,
            `department_name`,
            `location_name`
        ) VALUES (
            #{pojo.deptId},
            #{pojo.deptName},
            #{pojo.loc}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.deptId">
        INSERT INTO Departments
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.deptId!=null">`department_id`,</if>
            <if test="pojo.deptName!=null">`department_name`,</if>
            <if test="pojo.loc!=null">`location_name`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.deptId!=null">#{pojo.deptId},</if>
            <if test="pojo.deptName!=null">#{pojo.deptName},</if>
            <if test="pojo.loc!=null">#{pojo.loc},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO Departments (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.deptId},
            #{pojo.deptName},
            #{pojo.loc}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE Departments
        <set>
            <if test="pojo.deptId != null">`department_id` = #{pojo.deptId},</if>
            <if test="pojo.deptName != null">`department_name` = #{pojo.deptName},</if>
            <if test="pojo.loc != null">`location_name` = #{pojo.loc}</if>
        </set>
        WHERE department_id = #{pojo.deptId}
    </update>

    <!--auto generated by codehelper on 2017-03-30 17:54:49-->
    <select id="findAll" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from departments
    </select>

    <!--auto generated by codehelper on 2017-03-31 11:06:00-->
    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from departments
    </select>

    <select id="findByPage" resultType="com.yztc.hrmgr.utils.Page" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from departments limit #{page.begin},#{page.size}
    </select>

    <!--auto generated by codehelper on 2017-03-31 12:59:12-->
    <select id="findBydeptName" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from departments
        where `department_name`=#{deptName}
    </select>

    <!--auto generated by codehelper on 2017-03-31 14:05:50-->
    <select id="findByDeptId" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from departments
        where `department_id`=#{deptId}
    </select>

    <!--auto generated by codehelper on 2017-03-31 20:29:00-->
    <delete id="deleteByDeptId">
        delete from departments
        where `department_id`=#{deptId}
    </delete>
</mapper>

